@model SalonManagementSystem.Models.Stylist
<div class ="jumbotron">
<h4>Add a New Stylist</h4>
</div>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add" />
}
<p>@Html.ActionLink("Return to all Stylist", "Index")</p>