<div id="navbar">
  
    <a class="nav-partial" href="/">Library Home</p>  
    <a class="nav-partial" href="/Books">My Library</a>

    <a class="nav-partial" href="/Create">Add a New Book</a>

</div>