<div class="jumbotron">
<h1>Welcome to O'Clairs Salon Management System</h1>
</div>
<h2>Thank you for chosing The Salon Management System to manage all of stylist. Go to the Stylist Home Page to get started.</h2>
<p>@Html.ActionLink("Stylist Home Page", "Index", "Stylists")</p>